body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #000000;
  --darkBlue: #4B8DCB;
  --gray: #58595B;
  --green: #6EC38C;
  --grey: #58595B;
  --lightBlue: #00AEEF;
  --limeGreen: #BED742;
  --white: #FFFFFF;
  --yellow: #FFF200;
}

html {
  background-color: white!important;
}

.is-white{
  background-color: white!important;
}

.is-gray{
  background-color:  hsl(0, 0%, 96%)!important;
}

.navbar-menu {
  box-shadow: 0 8px 16px rgba(10,10,10,.1);
}

.navbar-item {
  color: var(--white)!important;
  background-color: var(--black)!important;
}

.navbar-item:hover {
  color: var(--lightBlue)!important;
  background-color: var(--black)!important;
}

.navbar-dropdown {
  border-top: none!important;
}

.navbar-burger:hover {
  color: var(--lightBlue)!important;
}

* {
  font-family: 'Roboto';
}

#root {
  position: relative;
  min-height: 100vh;
}

.star:hover{
 color:transparent;
 stroke: black;
 stroke-width: 10;
}

details {
  font: 16px sans-serif;
  width: auto;
}

details > summary {
  padding: 2px 6px;
  width: auto;
  background-color: #6EC48B;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 0.75em;
  letter-spacing: 0.1em;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #ddd;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}

details[open] > summary {
  background-color: #6EC48B;
  color: white;
  font-size: 0.75em;
  letter-spacing: 0.1em;
}

.all_clubs {
  margin-top: 4%;
}

.box {
  width: 100%;
}