body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #000000;
  --darkBlue: #4B8DCB;
  --gray: #58595B;
  --green: #6EC38C;
  --grey: #58595B;
  --lightBlue: #00AEEF;
  --limeGreen: #BED742;
  --white: #FFFFFF;
  --yellow: #FFF200;
}

html {
  background-color: hsl(0, 0%, 96%)!important;
}

.is-white{
  background-color: white!important;
}

.is-gray{
  background-color:  hsl(0, 0%, 96%)!important;
}

.App {
  text-align: left;
}

@media screen and (min-width: 1024px) {
  .navbar-menu {
    box-shadow: 0 8px 16px rgba(10,10,10,.1);
  }
}

.navbar-item {
  color: var(--white)!important;
}

.navbar-item:hover {
  background-color: var(--lightBlue)!important;
  border-radius: 5px;
}

.navbar-dropdown {
  border-top: none!important;
}

* {
  font-family: 'Roboto';
}